<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3 col-xs-5 col-xs-offset-3 footer-nav">
                    2020 Apartment monitoring <strong>1.4</strong> | Wszystkie prawa zastrzeżone
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</th:block>
</body>
</html>