<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="headerNav">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#todo-navbar-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Apartment monitoring</a>
            </div>
            <div class="collapse navbar-collapse" id="todo-navbar-1">
                <ul class="nav navbar-nav " sec:authorize="isAuthenticated()">
                    <li><a href="/devices">Devices</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAnonymous()">
                        <a href="/login">Login</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/register">Register</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/account/details">Account</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>