<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header"/>
<body>
<th:block th:replace="fragments/header_nav :: headerNav"/>
<main class="container">
    <h1 style="text-align: center;" th:if="${from}">
        <b th:text="${from}"></b> / <b th:text="${to}"></b>
    </h1>
    <h1 style="text-align: center;" th:unless="${from}">
        Measurement - last 24h
    </h1>
    <div>
        <canvas id="line-chart" width="400" height="100"></canvas>
    </div>
    <div>
        <table id="table" class="table table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Humidity</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="value : ${measurement}">
                <tr>
                    <td th:text="${value.getCreated()}"></td>
                    <td th:text="${value.getTemperature()}"></td>
                    <td th:text="${value.getHumidity()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/js/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/chart.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/chart.js}"></script>
    <script>
        let tr = document.getElementById('table').getElementsByTagName('tr');

        let date = [];
        let temperature = [];
        let humidity = [];

        for (let i = 1; i < tr.length; i++) {
            let cell = tr[i].cells;

            date.push(cell.item(0).innerText);
            temperature.push(cell.item(1).innerText);
            humidity.push(cell.item(2).innerText);
        }

        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: date,
                datasets: [{
                    data: temperature,
                    label: "Temperature",
                    borderColor: "green",
                    fill: true
                }, {
                    data: humidity,
                    label: "Humidity",
                    borderColor: "black",
                    fill: false
                }
                ]
            }
        });
    </script>
</main>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>