<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header"/>
<body>
<th:block th:replace="fragments/header_nav :: headerNav"/>
<main class="container">
    <h1>Measurement - last 24h</h1>
    <div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Humidity</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="value : ${measurement}">
                <tr>
                    <td th:text="${value.getCreated()}"></td>
                    <td th:text="${value.getTemperature()}"></td>
                    <td th:text="${value.getHumidity()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>